html {
	background: black;
}

#container-1 {
	display: inline-block;
}

#container-1 p {
	color: white;
	overflow: hidden;
	border-right: .05em solid white;
	white-space: nowrap;
	animation: typing-1 1.5s steps(40, end) forwards, blink-caret .8s infinite;
	animation-delay: 2s;
	font-size: larger;
	width: 0;
}

@keyframes typing-1 {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent; }
	50% { border-color: white; }
}


label {
	color: white;
	font-size: larger;
}

#offSet {
	outline: none;
	width: 60px;
	height: 35px;
	font-size: large;
}

#btn {
	color: black;
	width: 65px;
	height: 40px;
}

#input {
	display: flex;
	height: 100px; 
	outline: none;
	font-size: xx-large;
	justify-content: center;
	font-family: Courier New;
}


#output {
	display: flex;
	height: 100px; 
	outline: none;
	font-size: xx-large;
	justify-content: center;
	font-family: Courier New;
}

#container-2 {
	display: inline-block;
}

#container-2 p {
	color: white;
	overflow: hidden;
	border-right: .05em solid white;
	white-space: nowrap;
	animation: typing 1.5s steps(20, end) forwards, blink .8s infinite;
	font-size: 3.0rem;
	width: 0;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink {
	from, to { border-color: transparent; }
	50% { border-color: white; }
}



