html {
	background: black;
}

#shift {
	outline: none;
}

#input {
	display: flex;
	height: 100px; 
	outline: none;
	font-size: xx-large;
	justify-content: center;
	font-family: Courier New;
}


#output {
	display: flex;
	height: 100px; 
	outline: none;
	font-size: xx-large;
	justify-content: center;
	font-family: Courier New;
}

#container {
	display: inline-block;
}

#container p {
	color: white;
	overflow: hidden;
	border-right: .05em solid white;
	white-space: nowrap;
	animation: typing 1s steps(20, end) forwards;
	font-size: 3.0rem;
	width: 0;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent; }
	50% { border-color: white; }
}



